@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
:root{
    --color-grisOscuro:#2E2D2D;
    --color-negro:#000;
    --color-blanco:#fff;
    --color-rojo: #D71024;
    --color-grisClaro:#D9D9D9;
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Fira Mono", monospace;
}
body{
    display: flex;
    flex-direction: column;
    font-family:"Montserrat", sans-serif;
    color: #fff;
    font-size: 18px;
}

/*Aqui inicia el header*/
.Header{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 1;
}
.Header-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 30px;
}
.Header-li{
    list-style: none;
    
}
.Header-link{
    text-decoration: none;
    color: var(--color-blanco);
    cursor: pointer;
}
.Header-link--isActive, .Header-link:hover{
    color: var(--color-rojo);
    font-weight: 800;
    transition: color 0.3s ease;
}
.Header-link--isActive::after{
    content: "   ______________";
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -5px;
    transition: color 4s ease-out;
}
/*Aquí Termina el header*/
/*Aqui creo los elementos que flotan como las flechas y los cuadros rojos*/
.Float{
    position: absolute;
}
.Float-flecha--izq{
    width: 30px;
    height: 119px;
    top: 30%;
    left: 5%;
    background-image: url(../images/flechas-icon-calop.webp);
    background-size: contain;
    z-index: 1;
}
.Float-flecha--izqAbajo{
    width: 30px;
    height: 119px;
    bottom: -10%;
    left: 5%;
    background-image: url(../images/flechas-icon-calop.webp);
    background-size: contain;
    z-index: 1;
}

.Float-flecha--der{
    width: 30px;
    height: 237px;
    bottom: -25%;
    right: 5%;
    background-image: url(../images/flechas-icon-calop.webp);
    background-size: contain;
    z-index:1 ;
}
.Float-minBox--center{
    width: 10%;
    height: 10vh;
    background-color: #d7102477;
    top: 50%;
    left: 50%;
    translate:-50%;
    z-index: 1;
}
.Float-bigBox--center{
    width: 40%;
    height: 10vh;
    background-color: #d7102477;
    bottom: -5%;
    left: 50%;
    translate:-50%;
    z-index: 1;
}
/*Aquí inicia el Main*/
.Main{
    background-color: var(--color-blanco);
    display: flex;
    flex-direction: column;
    width: 100%;
}
.Seccion{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    
}
/*Esta clase es para que la seccion sea tan alto como su propio contenido*/
.Seccion--Expand{
    height: auto;
}
.Seccion-2colum{
   flex-direction: row;
   align-items: stretch;
}
/*Secciones con fodos de otros colores*/
.Seccion--bgWhite{
    background-color: var(--color-blanco);
}
.Seccion--bgGray{
    background-color: var(--color-grisOscuro);
}
.Seccion--bgWhitegray{
    background-color: var(--color-grisClaro);
}
/*Fin Secciones con fondos de otros colores*/
/*Clases de las secciones*/ 
.Section-NoImportantColumn{
    flex: 0 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    padding: 10%;
}
.Section-contentColumn{
    flex: 1 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 10%;
}
.Section-contentComplete{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5% 10%;
}
.Section-contentColumn--alingLeft{
    align-items: flex-start;
    padding:10% 15% 10% 0;
}
.Section-contentColumn .Section-img{
    width: 100%;
}
/*Fuentes generales del proyecto*/
.Section-h1{
    font-family: var(--font-secondary);
    font-weight: 700;
    color: var(--color-negro);
    font-size: 3rem;
}
.Section-h2{
    font-family: var(--font-secondary);
    font-weight: 700;
    color: var(--color-negro);
    font-size: 2rem;
}
.Section-h3{
    font-family: var(--fosecondarynt-);
    font-weight: 700;
    color: var(--color-grisClaro);
    font-size: 2.2rem;
}

.Section-parrafo{
    font-family:var(--font-primary);
    font-weight: 400;
    font-style: normal;
    color: var(--color-negro);
    font-size: 1rem;
}

/* Fin Clases de las secciones*/

/*Inicio de estilos para acordeon*/
.Section-Acordeon{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.Section-Acordeonli{
    position: relative;
}
.AcordeonTitle{
    border-top: 1px solid var(--color-rojo);
    border-bottom: 1px solid var(--color-rojo);
    align-items: stretch;
    padding: 5% 0;
    position: relative;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 700;
}
.AcordeonTitle::before{
    content: "+";
    color: var(--color-rojo);
    font-size: 1.3rem;
    font-weight: 700;
    position: absolute;
    left: -20px;
    top: 35%;
}
.AcordeonDespliega{
    display: none;
}
.isActive{
    display: block;
    transition: 2s ease-in;
}
/*FIN de estilos para acordeon*/

/*Inicio de estilos para Slider*/
.Slider{
    display: flex;
    flex-direction: row; 
    gap: 20px;
    height:80vh ;
}
.Slider-contetImg{
    flex: 0 0 65%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    overflow: hidden;
    gap: 20px;
}
.Slider-box{
    flex: 0 0 20%;
    display: flex;
    align-items: end;
}


.Slider-img{
    width: 100%;
    height: 40%;
    background-color: red;
    display: flex;
    align-items: center;
}

.Slider-box:nth-child(5) .Slider-img{
    background-image: url(../images/brand-img-slider.webp);
    background-size: cover;
}
.Slider-box:nth-child(4) .Slider-img{
    background-image: url(../images/social-img-slider.webp);
    background-size: cover;
}
.Slider-box:nth-child(3) .Slider-img{
    background-image: url(../images/diseñoweb-img-slider.webp);
    background-size: cover;
}
.Slider-box:nth-child(2) .Slider-img{
    background-image: url(../images/strategia-img-slider.webp);
    background-size: cover;
}
.Slider-box:nth-child(1) .Slider-img{
    background-image: url(../images/brand-img-slider.webp);
    background-size: cover;
}

.isExpand{
    height: 100%;
    transition: height ease-in 2s ;
}

.Slider-contentText{
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Slider-txtContentBox{
    font-size: 2rem;
    text-align: center;
}
.Slider-sliderText{
    color: var(--color-negro);
    display: none;
}
.Slider-isActive{
    display: block;
}
.Slider-sliderTitle{
    font-family: var(--font-secondary);
    font-size: 1.3rem;
    font-weight: 600;
}
.Slider-sliderParrafo{
    font-family: var(--font-primary);
    font-size: 1rem;
}
/*Inicio de estilos para Slider Proyectos*/
.SliderProyectos{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: nowrap;
}
.SliderProyectos--contentText{
    background-color: #fff;
    width: 50%;
    height: 40vh;
}
.SliderProyectos--titulo{

}
.SliderProyectos--descripcion{

}
.SliderProyectos--contentImagen{
    
}
.SliderProyectos--Flechas{

}



/*Aqui agrego algunas utilidades*/
.u-alingTxtLeft{
    text-align: left;
}
/*.Section-parrafo--blanco*/
.u-colorBlanco{
    color: var(--color-blanco);
}
.u-colorGrisOscuro{
    color: var(--color-grisOscuro);
}
.u-colorGrisClaro{
    color:var(--color-grisClaro);
}
.u-txtRojo{
    color:var(--color-rojo);
}